<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Управление курсами</title>
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/styles.css">
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary mb-4">
        <div class="container">
            <a class="navbar-brand" href="index.php">Управление курсами</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="index.php?table=courses">Курсы</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="index.php?table=teachers">Преподаватели</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="index.php?table=teacher_types">Типы преподавателей</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="index.php?table=students">Студенты</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="index.php?table=payments">Платежи</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="container">